# Don't track content of these folders
'Immersive Civ/.minecraft/crash-reports/'
'Immersive Civ/.minecraft/logs/'
'Immersive Civ/.minecraft/saves/'
'Immersive Civ/.minecraft/screenshots/'

# Username Caches
'Immersive Civ/.minecraft/usercache.json'
'Immersive Civ/.minecraft/usernamecache.json'